h1 {
	color:purple;
	font-family: arial black;
}
h2 {
	font-family: arial;
}
h3 {
	font-family: arial;
}
p {
  font-family: arial;
}
table {
    font-family: arial black;
    border-collapse: collapse;
}
td, th {
    text-align: center;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:first-child{
    color:purple;
}
ul {
	font-family: arial;
}
.navigation{
  float:left;
	width:25%;
}
.content{
  margin-left:25%;
  width:75%;
  
}