*{
	font-family:arial;
}

body {
	background-image: url("https://yuena8.github.io/marble.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	color:#AEAEAE;
}
a:hover{
	color: #757575;
}
h1 {
	color:#757575;
	font-family: arial black;
}
h2 {
	color:#757575;
}
h3 {
	color:#757575;
}

table {
    font-family: arial black;
    border-collapse: collapse;
	color:#757575;
}
td, th {
    text-align: center;
    padding: 10px;
}
tr {
    background-color: #BCBCBC;
}
th:hover{
	color: #ffffff;
}
tr:first-child{
    color:#F0F0F0
}


li a {
	display: block;
}

nav ul{
	list-style-type:none;
}

/* Flexbox code from lecture 05 */
#main {
	min-height: 300px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row;
	justify-content: center;
}
#main > article {
	margin: 4px;
	padding: 30px;
	border: 1px solid #757575;
	border-radius: 7pt;
	max-width: 800px;
	flex: 3 1 90%;
	order: 2;
	background:#F0F0F0;
}
#main > nav {
	margin: 4px;
	padding: 5px;
	border: 1px solid #757575;
	border-radius: 7pt;
	max-width: 150px;
	flex: 1 6 10%;
	order: 1;
}

@media all and (max-width: 640px) {
	#main, #page {
		flex-direction: column;
	}

	#main > article, #main > nav {
		order: 0;
	}

	#main > nav, header, footer {
		min-height: 50px;
		max-height: 50px;
	}
}
